@model LeadModel


<div class="section-header">
    <div class="d-flex justify-content-between w-100">
        <h1>Leades</h1>
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item active display-4"><a asp-action="Leades" asp-controller="Lead">Leads</a></div>
            <div class="breadcrumb-item display-4">Details</div>
        </div>


    </div>
</div>
<div class="section-body">
    <form>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <!-- Row 1: FullName, TopicName -->
        <div class="row">
            <div class="form-group col-6">
                @Html.LabelFor(t => t.FullName, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(t => t.FullName, "", new { htmlAttributes = new { @class = "form-control", disabled = true } })
                @Html.ValidationMessageFor(t => t.FullName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-6">
                @Html.LabelFor(t => t.TopicName, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(t => t.TopicName, "", new { htmlAttributes = new { @class = "form-control", disabled = true } })
                @Html.ValidationMessageFor(t => t.TopicName, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Row 2: CreatedON, Status -->
        <div class="row">
            <div class="form-group col-6">
                @Html.LabelFor(t => t.CreatedON, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(t => t.CreatedON, "", new { htmlAttributes = new {type="date", @class = "form-control", disabled = true } })
                @Html.ValidationMessageFor(t => t.CreatedON, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-6">
                @Html.LabelFor(t => t.Status, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(t => t.Status, "", new { htmlAttributes = new { @class = "form-control", disabled = true } })
                @Html.ValidationMessageFor(t => t.Status, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Row 3: FirstName, LastName -->
        <div class="row">
            <div class="form-group col-6">
                @Html.LabelFor(t => t.FirstName, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(t => t.FirstName, "", new { htmlAttributes = new { @class = "form-control", disabled = true } })
                @Html.ValidationMessageFor(t => t.FirstName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-6">
                @Html.LabelFor(t => t.LastName, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(t => t.LastName, "", new { htmlAttributes = new { @class = "form-control", disabled = true } })
                @Html.ValidationMessageFor(t => t.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Row 4: CompanyName, JobTitle -->
        <div class="row">
            <div class="form-group col-6">
                @Html.LabelFor(t => t.CompanyName, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(t => t.CompanyName, "", new { htmlAttributes = new { @class = "form-control", disabled = true } })
                @Html.ValidationMessageFor(t => t.CompanyName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-6">
                @Html.LabelFor(t => t.JobTitle, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(t => t.JobTitle, "", new { htmlAttributes = new { @class = "form-control", disabled = true } })
                @Html.ValidationMessageFor(t => t.JobTitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Row 5: EmailAddress, Telephone -->
        <div class="row">
            <div class="form-group col-6">
                @Html.LabelFor(t => t.EmailAddress, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(t => t.EmailAddress, "", new { htmlAttributes = new { @class = "form-control", disabled = true } })
                @Html.ValidationMessageFor(t => t.EmailAddress, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-6">
                @Html.LabelFor(t => t.Telephone, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(t => t.Telephone, "", new { htmlAttributes = new { @class = "form-control", disabled = true } })
                @Html.ValidationMessageFor(t => t.Telephone, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Row 6: AccountName, ContactName -->
        <div class="row">
            <div class="form-group col-6">
                @Html.LabelFor(t => t.AccountName, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(t => t.AccountName, "", new { htmlAttributes = new { @class = "form-control", disabled = true } })
                @Html.ValidationMessageFor(t => t.AccountName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-6">
                @Html.LabelFor(t => t.ContactName, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(t => t.ContactName, "", new { htmlAttributes = new { @class = "form-control", disabled = true } })
                @Html.ValidationMessageFor(t => t.ContactName, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Row 7: EstimatedBudget, Description -->
        <div class="row">
            <div class="form-group col-6">
                @Html.LabelFor(t => t.EstimatedBudget, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(t => t.EstimatedBudget, "", new { htmlAttributes = new { @class = "form-control", disabled = true } })
                @Html.ValidationMessageFor(t => t.EstimatedBudget, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-6">
                @Html.LabelFor(t => t.Description, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(t => t.Description, "", new { htmlAttributes = new { @class = "form-control", disabled = true } })
                @Html.ValidationMessageFor(t => t.Description, "", new { @class = "text-danger" })
            </div>
        </div>
    </form>

</div>