@model OpportunityModel

<div class="section-header">
    <div class="d-flex justify-content-between w-100">
        <h1>Opportunities</h1>
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item active display-4"><a asp-action="Opportunities" asp-controller="Opportunity">Opportunities</a></div>
            <div class="breadcrumb-item display-4">Details</div>
        </div>
    </div>
</div>

<div class="section-body">
    <form>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <!-- Row 1: Topic, Description -->
        <div class="row">
            <div class="form-group col-6">
                @Html.LabelFor(t => t.Topic, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(t => t.Topic, "", new { htmlAttributes = new { @class = "form-control", disabled = true } })
                @Html.ValidationMessageFor(t => t.Topic, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-6">
                @Html.LabelFor(t => t.Description, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(t => t.Description, "", new { htmlAttributes = new { @class = "form-control", disabled = true } })
                @Html.ValidationMessageFor(t => t.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Row 2: CreatedON, Status -->
        <div class="row">
            <div class="form-group col-6">
                @Html.LabelFor(t => t.CreatedON, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(t => t.CreatedON, "", new { htmlAttributes = new { type = "date", @class = "form-control", disabled = true } })
                @Html.ValidationMessageFor(t => t.CreatedON, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-6">
                @Html.LabelFor(t => t.Status, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(t => t.Status, "", new { htmlAttributes = new { @class = "form-control", disabled = true } })
                @Html.ValidationMessageFor(t => t.Status, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Row 3: BudgetAmount, DecisionMaker -->
        <div class="row">
            <div class="form-group col-6">
                @Html.LabelFor(t => t.BudgetAmount, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(t => t.BudgetAmount, "", new { htmlAttributes = new { @class = "form-control", disabled = true } })
                @Html.ValidationMessageFor(t => t.BudgetAmount, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Row 4: CustomerNeed, ProposedSolution -->
        <div class="row">
            <div class="form-group col-6">
                @Html.LabelFor(t => t.CustomerNeed, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(t => t.CustomerNeed, "", new { htmlAttributes = new { @class = "form-control", disabled = true } })
                @Html.ValidationMessageFor(t => t.CustomerNeed, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-6">
                @Html.LabelFor(t => t.ProposedSolution, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(t => t.ProposedSolution, "", new { htmlAttributes = new { @class = "form-control", disabled = true } })
                @Html.ValidationMessageFor(t => t.ProposedSolution, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Row 5: ParentAccountID, ParentContactID -->
        <div class="row">
            <div class="form-group col-6">
                @Html.LabelFor(t => t.ParentAccountID, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(t => t.ParentAccountID, "", new { htmlAttributes = new { @class = "form-control", disabled = true } })
                @Html.ValidationMessageFor(t => t.ParentAccountID, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-6">
                @Html.LabelFor(t => t.ParentContactID, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(t => t.ParentContactID, "", new { htmlAttributes = new { @class = "form-control", disabled = true } })
                @Html.ValidationMessageFor(t => t.ParentContactID, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Row 6: CurrencyID, PriceLevelID -->
        <div class="row">
            <div class="form-group col-6">
                @Html.LabelFor(t => t.CurrencyID, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(t => t.CurrencyID, "", new { htmlAttributes = new { @class = "form-control", disabled = true } })
                @Html.ValidationMessageFor(t => t.CurrencyID, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-6">
                @Html.LabelFor(t => t.PriceLevelID, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(t => t.PriceLevelID, "", new { htmlAttributes = new { @class = "form-control", disabled = true } })
                @Html.ValidationMessageFor(t => t.PriceLevelID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="w-100 text-center">
            <a class="btn btn-outline-primary btn-lg px-5" asp-action="Opportunities" asp-controller="Opportunity"><i class="fas fa-arrow-left"></i> Back</a>
        </div>
    </form>
</div>
